.footer
    background-color: rgb(241, 243, 242)
    padding: 1.5rem 0

    &-flex
        @media (min-width: $tablet)
            display: flex
            justify-content: space-between

    &-text
        margin: 0 0 1rem
        color: black

        @media (min-width: $tablet)
            margin: 0

        &:last-child
            margin: 0
            

    &-link
        color: black
        text-decoration: none