.field
    margin-bottom: 1rem

    &-label
        color: rgb(255, 255, 255)
        display: block
        margin: 0 0 .5rem
        text-transform: uppercase
        font-size: .8rem
        font-weight: 700

    &-container
        position: relative
        
        &-input
            padding-right: 40px

        &-img
            height: 20px
            position: absolute
            right: 10px
            top: 50%
            transform: translateY(-50%)
            width: 20px

    &-row
        display: flex

        &-item
            flex-grow: 1
            margin-right: 1rem

            &:last-child
                margin-right: 0               

    label.error
        color: red
        display: block
        font-size: .8rem
        margin-top: .5rem
