*
    box-sizing: border-box


html,
body
    border: 0 
    font-family: Montserrat
    font-size: 16px
    margin: 0
    padding: 0
    min-width: 320px


figure
    margin: 0

input,
select
    width: 100%
    height: 40px
    padding: 0 10px
    background-color: white
    border: 0
    outline: 0

select
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    padding-right: 40px

.container
    height: 100%
    margin: 0 auto
    max-width: 1366px
    padding: 0 1rem
    position: relative
    width: 100%


.off-screen
    border-width: 0
    height: 1px
    margin: -1px
    overflow: hidden
    padding: 0
    position: absolute
    white-space: nowrap
    width: 1px
    
.select
    position: relative
    width: 100%

    &::after
        border-color: rgb(255, 0, 0)
        border-style: solid
        border-width: 0 2px 2px 0
        content: ''
        display: block
        height: 10px
        pointer-events: none
        position: absolute
        right: 20px
        top: 50%
        transform-origin: bottom right
        transform: translateY(-50%) rotate(45deg)
        width: 10px


.btn
    align-items: center        
    background-color: transparent
    border: 0
    cursor: pointer
    display: inline-flex
    font-weight: 700
    height: 30px
    justify-content: center
    outline: 0
    padding: 0 1.5rem
    text-transform: uppercase
    transition: background-color .5s ease, color .5s ease
    width: auto

    &-icon
        height: 30px
        padding: 0
        width: 30px

    &-red
        border: 2px solid rgb(226, 31, 35)
        color: rgb(226, 31, 35)

        &:hover
            background-color: rgb(226, 31, 35)
            color: white

    &-black
        background-color: black
        color: white
