.header
    left: 0
    position: absolute
    top: 30px
    width: 100%
    z-index: 2

    @media (min-width: $tablet)
        top: 100px

    &-content
        align-items: center
        background-color: rgba(255, 255, 255, .9)
        display: flex
        height: 50px
        padding: 0
        position: relative
        width: 100%

        @media (min-width: $tablet)
            height: 100px
            padding: 0 4rem

    &-link
        color: black
        font-size: .8rem
        font-weight: 700
        margin-right: .5rem
        text-decoration: none
        text-transform: uppercase
        display: none

        @media (min-width: $tablet)
            display: inline-block

        &:last-child
            margin-right: 0

    &-logo
        display: block
        height: 100px
        left: 50%
        position: absolute
        top: 50%
        transform: translate(-50%, -50%)
        width: 100px

        @media (min-width: $tablet)
            height: 200px
            width: 200px

        &-svg
            display: block
            height: 100%
            width: 100%
