@font-face 
  font-display: swap
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 400
  src: url(../../assets/fonts/montserrat/montserrat-400.woff2)


@font-face 
  font-display: swap
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 700
  src: url(../../assets/fonts/montserrat/montserrat-700.woff2)


@font-face 
  font-display: swap
  font-family: 'Playfairdisplay'
  font-style: normal
  font-weight: 400
  src: url(../../assets/fonts/playfairdisplay/playfairdisplay-400.woff2)


@font-face 
  font-display: swap
  font-family: 'Playfairdisplay'
  font-style: normal
  font-weight: 700
  src: url(../../assets/fonts/playfairdisplay/playfairdisplay-700.woff2)
