@import '_variables'
@import '_general'
@import '_typograpy'
@import '_forms'
@import '_header'
@import '_footer'


// ----------------------
// MAIN CONTENT
// ----------------------
.main-content
    display: flex
    flex-direction: column
    height: 100vh
    position: relative

    &-slider
        display: block
        flex-grow: 1
        min-height: 70%
        width: 100%

        &-figure
            height: 100%
            position: relative
            width: 100%

        &-img
            height: 100%
            left: 0
            object-fit: cover
            position: absolute
            top: 0
            width: 100%

            @media (min-width: $desktop)
                height: auto

        &-navigation
            display: none
            justify-content: space-between
            left: 50%
            padding: 0 5rem
            position: absolute
            top: 50%
            transform: translate(-50%, -50%)
            width: 100%
            z-index: 9

            @media (min-width: $tablet)
                display: flex

            &-next,
            &-prev
                cursor: pointer
                height: 60px
                width: 60px

    &-info
        background-color: black
        flex-grow: 1
        position: relative

        &-container
            background-color: black
            bottom: 0
            left: 50%
            margin: 0 auto
            padding: 1rem
            position: absolute
            transform: translateX(-50%)
            width: 90%
            z-index: 1

            @media (min-width: $desktop-lg)
                padding: 3rem 7rem 5rem

            @media (min-width: $desktop-xl)
                width: 100%

            &::before
                background-color: white
                content: ''
                display: block
                height: 5px
                left: 50%
                position: absolute
                top: 0
                transform: translatex(-50%)
                width: 40%

        &-title,
        &-subtitle,
        &-text
            color: white
            text-align: center

        &-title,
        &-subtitle
            font-family: Playfairdisplay
            font-weight: 400
            margin: 0

        &-title
            font-size: 1.8rem
            text-transform: uppercase

            @media (min-width: $tablet)
                font-size: 2.5rem

        &-subtitle
            font-size: 1rem
            margin-bottom: 1.5rem

            @media (min-width: $tablet)
                font-size: 1.7rem
        
        &-text
            font-size: 1rem

            &_hidden
                &-mobile
                    display: none

                    @media (min-width: $desktop)
                        display: block

                &-desktop
                    display: block

                    @media (min-width: $desktop)
                        display: none


// ----------------------
// ROOMS SECTIONS
// ----------------------
.rooms-sections
    background-color: rgb(241, 243, 242)
    padding: 3rem 0

    &-grid
        align-items: center
        display: grid
        grid-gap: 20px
        grid-template-columns: repeat(12, 1fr)

        @media (min-width: $desktop)
            align-items: flex-start

        &-column
            &-1
                grid-column: span 12

                @media (min-width: $tablet)
                    grid-column: span 7
                    order: 2

            &-2
                grid-column: span 12

                @media (min-width: $tablet)
                    grid-column: span 5
                    height: 100%
    
    &-flex
        display: flex
        flex-direction: column
        height: 100%

    &-figure
        margin: 0
        padding-top: 56.25%
        position: relative
        width: 100%
    
    &-img
        height: 100%
        left: 0
        object-fit: cover
        position: absolute
        top: 0
        width: 100%

    &-tag
        font-weight: 700
        margin: 0 0 1.5rem
        text-transform: uppercase

        @media (min-width: $tablet)
            text-align: center

    &-title
        color: rgb(150, 159, 163)
        font-size: 2rem
        margin: 0 0 1rem
        text-transform: uppercase

        @media (min-width: $desktop)
            font-size: 3rem

    &-text
        margin: 0 0 1rem

    &-link
        align-items: center        
        border: 2px solid rgb(226, 31, 35)
        color: rgb(226, 31, 35)
        display: inline-flex
        font-weight: 700
        height: 30px
        justify-content: center
        margin-top: auto
        max-width: 170px
        padding: 0 1.5rem
        text-decoration: none
        text-transform: uppercase
        transition: background-color .5s ease, color .5s ease
        width: auto

        &:hover
            background-color: rgb(226, 31, 35)
            color: white


// ----------------------
// EVENT SECTION
// ----------------------
.event
    padding: 3rem 0

    @media (min-width: $tablet)
        padding-bottom: 5rem

    &-title
        font-size: 1rem
        margin: 0 0 3rem
        text-align: center
        text-transform: uppercase

    &-flex
        display: flex
        flex-direction: column

        @media (min-width: $tablet)
            flex-direction: row

    &-item
        flex-grow: 1
        margin-bottom: 1rem
        position: relative
        width: 100%

        @media (min-width: $tablet)
            margin: 0 10px 0 0

        &:last-child
            margin-right: 0

        &-img
            height: auto            
            width: 100%

        &-content
            align-items: center
            background-color: rgb(41, 41, 49)
            display: flex
            justify-content: flex-end
            left: 0
            padding: 10px 15px
            position: absolute
            top: 0

        &-date
            color: white
            font-size: 4rem
            font-weight: 700
            line-height: 3rem
            margin: 0
        
        &-mont
            color: white
            font-size: 1rem
            font-weight: 700
            text-transform: uppercase
            transform: rotate(-90deg)


// ----------------------
// BOOK NOW MODAL
// ----------------------
.overlayer-modal
    background-color: rgba(137, 136, 139, .8)
    bottom: 0
    left: 0
    opacity: 0
    position: fixed
    right: 0
    top: 0
    transition: opacity .5s ease-in-out, visibility .5s ease-in-out
    visibility: hidden
    z-index: 99

    &_active
        opacity: 1
        visibility: visible


.book-now-modal
    background-color: rgb(30, 30, 30)
    padding: 4rem 3rem 2rem
    position: fixed
    right: 0
    top: 100px
    transform: translateX(100%)
    transition: transform .5s ease-in-out, height .5s ease-in-out
    width: 100%
    z-index: 999

    @media (min-width: $tablet)
        max-width: 330px

    &-title
        color: white
        font-family: Playfairdisplay
        font-size: 2rem
        font-weight: 400
        margin: 0 0 4rem
        text-align: center
        text-transform: uppercase
    
    &-text
        color: rgb(145, 147, 149)
        font-family: Playfairdisplay
        margin: 2rem 0
        text-align: center
    
    &-btn
        display: flex
        font-family: Playfairdisplay
        font-size: 1rem
        font-weight: 400
        margin: 0 auto

    &-close
        left: 10px
        position: absolute
        top: 20px

    &-open
        left: 0px
        position: absolute
        top: 220px
        transform-origin: left top
        transform: rotate(-90deg) translateY(-100%)

    &-link
        align-items: center
        color: white
        display: flex
        font-size: .9rem
        font-weight: 700
        justify-content: space-between
        margin-top: 4rem 
        text-decoration: none
        text-transform: uppercase

        &-icon
            height: 13px
            margin-left: 10px
            width: 24px

    &_active
        height: 100%
        top: 0
        transform: translateX(0)

        @media (min-width: $tablet)
            height: auto
            top: 100px
